# delta-spark==2.3.0
pyspark==3.0.3
# pyarrow==9.0.0
# fastparquet==0.8.1
apache-airflow-providers-amazon==7.2.1
# apache-airflow-providers-apache-spark==4.0.1
python-dotenv==0.21.1
lazy_import==0.2.2
